node-red/full program
[{"id":"200bb906.f929e6","type":"tab","label":"Main Menu","disabled":false,"info":""},{"id":"b1437e49.a3cf8","type":"tab","label":"ESP01","disabled":false,"info":""},{"id":"fe33d569.840058","type":"tab","label":"ESP02","disabled":false,"info":""},{"id":"855e0a2f.d0ac58","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"a2dc5ad0.864458","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.19","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"tilESP","birthQos":"0","birthPayload":"1","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29f14258.45bcfe","type":"ui_group","z":"","name":"Temperatur","tab":"","disp":true,"width":"6","collapse":false},{"id":"f4f1c3ea.96f7b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bba2418f.d74d1","type":"ui_group","z":"","name":"MotorFane","tab":"","disp":true,"width":"6","collapse":false},{"id":"1ac16824.490e08","type":"ui_group","z":"","name":"Flow","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"31c53f3d.a393","type":"ui_group","z":"","name":"PH","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6f85c007.64e41","type":"ui_group","z":"","name":"Temp","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c79c64e.68efa8","type":"ui_tab","z":"","name":"Tank 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"777214d6.960b3c","type":"ui_group","z":"","name":"Sensorer","tab":"6c79c64e.68efa8","order":1,"disp":false,"width":"6","collapse":false},{"id":"420ad7aa.587fd8","type":"ui_group","z":"","name":"Mindbox (DIY Arduino)","tab":"","order":2,"disp":true,"width":"6"},{"id":"2cd7811d.cce61e","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"94884fca.3233","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"2cd7811d.cce61e","wholemsg":"false"},{"id":"57cc358b.cb865c","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"77f6ceb9.595d2","type":"websocket-client","z":"","path":"wss://echo.websocket.org","tls":"2cd7811d.cce61e","wholemsg":"false"},{"id":"e09e0388.4e496","type":"websocket-listener","z":"855e0a2f.d0ac58","path":"/ws/simple","wholemsg":"false"},{"id":"7e460eeb.40fed","type":"sqlitedb","z":"","db":"/home/pi/TESTDB","mode":"RWC"},{"id":"9ceb1914.6fc3b8","type":"sqlitedb","z":"","db":"/home/pi/testingDB.db","mode":"RWC"},{"id":"99594079.485dc","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"9d7ded58.e2c68","type":"sqlitedb","z":"","db":"/home/pi/dhtreadingsDB","mode":"RWC"},{"id":"f5cc65c4.61b838","type":"sqlitedb","z":"","db":"/media/pi/Seagate Expansion Drive/SARSDB/cionaMonitorDB","mode":"RWC"},{"id":"20fcf2e9.d4e00e","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":"2"},{"id":"4c6faa96.3a1cb4","type":"ui_group","z":"","name":"Sensorer2","tab":"6c79c64e.68efa8","order":2,"disp":false,"width":"6","collapse":false},{"id":"2bea7872.ecfa98","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"681b45b3.01923c","type":"ui_tab","z":"","name":"Tank 2","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8cc2b7ce.d20228","type":"ui_group","z":"","name":"Sensorer","tab":"681b45b3.01923c","order":1,"disp":false,"width":"6","collapse":false},{"id":"324f5734.1caf08","type":"ui_group","z":"","name":"Sensorer2","tab":"681b45b3.01923c","order":2,"disp":false,"width":"6","collapse":false},{"id":"ecb1eac3.045168","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"39f55d2e.b1bdb2","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":"2"},{"id":"68c1379.ef172c8","type":"ui_tab","z":"","name":"Main Menu","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"79f93bbb.6f3e54","type":"ui_group","z":"","name":"Group 1","tab":"68c1379.ef172c8","order":1,"disp":false,"width":"6","collapse":false},{"id":"77eed045.1cc2","type":"ui_group","z":"","name":"Min values last day","tab":"68c1379.ef172c8","order":2,"disp":false,"width":"6","collapse":false},{"id":"7d9a4d3.f3ff6b4","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":"3"},{"id":"68a1c334.e9d18c","type":"ui_spacer","name":"spacer","group":"777214d6.960b3c","order":5,"width":1,"height":1},{"id":"80d5f4f2.36a468","type":"ui_spacer","name":"spacer","group":"8cc2b7ce.d20228","order":5,"width":1,"height":1},{"id":"8d4b9d1e.9eac2","type":"ui_spacer","name":"spacer","group":"79f93bbb.6f3e54","order":5,"width":1,"height":"2"},{"id":"63c18440.4cab8c","type":"ui_spacer","name":"spacer","group":"77eed045.1cc2","order":2,"width":1,"height":"2"},{"id":"cb382f62.d7d1c","type":"mqtt in","z":"b1437e49.a3cf8","name":"","topic":"fraESP","qos":"2","broker":"a2dc5ad0.864458","x":108,"y":162,"wires":[["51f8711b.9b4e9","5dc538ac.16aef8","575a5aa7.d87b14"]]},{"id":"30c2f10c.b5083e","type":"mqtt out","z":"b1437e49.a3cf8","name":"","topic":"tilESP","qos":"","retain":"","broker":"a2dc5ad0.864458","x":1196,"y":548,"wires":[]},{"id":"51f8711b.9b4e9","type":"function","z":"b1437e49.a3cf8","name":"SPLITTER","func":"var output = msg.payload.split(\" \");\nvar id = output[0][3].toString() + output[0][4].toString();\nif(id == \"01\")\n{\nvar temp = output[1].replace('Temp','');\nvar flow = output[2].replace('Flow','');\nvar ph = output[3].replace('PH','');\nvar salt = output[4].replace('Salt','');\nvar turb = output[5].replace('Turb','');\nvar msg1 = {payload:temp};\nvar msg2 = {payload:flow};\nvar msg3 = {payload:ph};\nvar msg4 = {payload:salt};\nvar msg5 = {payload:turb};\nreturn [msg1, msg2, msg3, msg4, msg5];\n}\n","outputs":5,"noerr":0,"x":269,"y":161,"wires":[["c365c8a2.db25f8"],["a95d7c5c.79c1"],["a1427bbd.91a938"],["33b3df3.078fe2"],["77525d68.fb0b44"]]},{"id":"c365c8a2.db25f8","type":"function","z":"b1437e49.a3cf8","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":482,"y":100,"wires":[["b60ca890.fd2a28"]]},{"id":"a1427bbd.91a938","type":"function","z":"b1437e49.a3cf8","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":482,"y":184,"wires":[["f0a90737.8621a8"]]},{"id":"a95d7c5c.79c1","type":"function","z":"b1437e49.a3cf8","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":482,"y":144,"wires":[["42903731.dcfab8"]]},{"id":"33b3df3.078fe2","type":"function","z":"b1437e49.a3cf8","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":479,"y":219,"wires":[["d9a05572.e28758"]]},{"id":"77525d68.fb0b44","type":"function","z":"b1437e49.a3cf8","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":481,"y":263,"wires":[["f90007.6ea94ff8"]]},{"id":"f86f7a7c.bee9d8","type":"function","z":"b1437e49.a3cf8","name":"ESP nr og motor","func":"var output = \"01m\";\nif (msg.payload==true)\n    output += 1;\nelse\n    output += 0;\nreturn {payload:output};","outputs":1,"noerr":0,"x":417,"y":469,"wires":[["30c2f10c.b5083e","d224e381.5173e"]]},{"id":"d224e381.5173e","type":"debug","z":"b1437e49.a3cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":706,"y":555,"wires":[]},{"id":"24771372.46bc9c","type":"inject","z":"855e0a2f.d0ac58","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":272,"y":224,"wires":[["36897315.c7adbc"]]},{"id":"8c46ed87.585b9","type":"websocket out","z":"855e0a2f.d0ac58","name":"","server":"e09e0388.4e496","client":"","x":672,"y":224,"wires":[]},{"id":"8f1a71e2.bea9c","type":"http response","z":"855e0a2f.d0ac58","name":"","x":643,"y":164,"wires":[]},{"id":"13f761c6.0b61ce","type":"http in","z":"855e0a2f.d0ac58","name":"","url":"/simple","method":"get","swaggerDoc":"","x":274,"y":164,"wires":[["c5c1f983.2299a8"]]},{"id":"c5c1f983.2299a8","type":"template","z":"855e0a2f.d0ac58","name":"Simple Web Page","field":"payload","format":"html","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":471,"y":164,"wires":[["8f1a71e2.bea9c"]]},{"id":"36897315.c7adbc","type":"function","z":"855e0a2f.d0ac58","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":224,"wires":[["8c46ed87.585b9"]]},{"id":"108558c2.0513a7","type":"websocket in","z":"855e0a2f.d0ac58","name":"","server":"e09e0388.4e496","client":"","x":459,"y":276,"wires":[["36b73b4e.6527b4"]]},{"id":"36b73b4e.6527b4","type":"debug","z":"855e0a2f.d0ac58","name":"","active":true,"console":"false","complete":"false","x":649,"y":276,"wires":[]},{"id":"586f293c.6be788","type":"inject","z":"b1437e49.a3cf8","name":"","topic":"ESP01 Temp29.500000 Flow15.000000 PH14.090000 Salt999.399902 Turb888.338501","payload":"ESP01 Temp29.500000 Flow15.000000 PH14.090000 Salt999.399902 Turb888.338501","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":88,"wires":[["51f8711b.9b4e9"]]},{"id":"5dc538ac.16aef8","type":"function","z":"b1437e49.a3cf8","name":"Til Database","func":"var output = msg.payload.split(\" \");\nvar temp = output[1].replace('Temp','');\nvar flow = output[2].replace('Flow','');\nvar ph = output[3].replace('PH','');\nvar salt = output[4].replace('Salt','');\nvar turb = output[5].replace('Turb','');\nvar motor = output[6].replace('Motor','');\nvar feeding = output[7].replace('Feeding','');\n\nvar output = \"INSERT INTO ESP01TBL(\";\noutput += \"datetime, \";\noutput += \"temperature, \";\noutput += \"flow, \";\noutput += \"ph, \";\noutput += \"turbidity, \";\noutput += \"salt, \";\noutput += \"motor, \";\noutput += \"feeding)\";\noutput += \" VALUES (\";\nvar d = new Date();\nvar datestring = \"'\" + d.getFullYear() + \"-\" + (d.getMonth()+1) + \"-\" + d.getDate() + \" \" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"'\" ;\noutput += datestring + \", \";\noutput += \"'\"+ temp + \"' , '\"+ flow +\"', '\"+ ph +\"', '\"+ salt +\"', '\"+turb+\"', '\"+motor+\"', '\"+feeding+\"')\";\nmsg.payload = \"verdier\"\nmsg.topic = output;\nreturn msg;\n","outputs":1,"noerr":0,"x":285,"y":370,"wires":[["ff41e0e1.26a6"]]},{"id":"7cf97e8a.e62b5","type":"sqlite","z":"b1437e49.a3cf8","mydb":"f5cc65c4.61b838","sqlquery":"msg.topic","sql":"","name":"cionaMonitorDB","x":779,"y":364,"wires":[["71025b94.895e84"]]},{"id":"71025b94.895e84","type":"debug","z":"b1437e49.a3cf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":993,"y":364,"wires":[]},{"id":"ff41e0e1.26a6","type":"delay","z":"b1437e49.a3cf8","name":"1 minute per database storage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":529,"y":371,"wires":[["7cf97e8a.e62b5"]]},{"id":"a6a8862b.392a18","type":"ui_switch","z":"b1437e49.a3cf8","name":"","label":"Motor","tooltip":"","group":"4c6faa96.3a1cb4","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":175,"y":465,"wires":[["f86f7a7c.bee9d8","d224e381.5173e"]]},{"id":"b60ca890.fd2a28","type":"ui_gauge","z":"b1437e49.a3cf8","name":"","group":"4c6faa96.3a1cb4","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":0,"max":"35","colors":["#6987ff","#009c29","#ff0000"],"seg1":"","seg2":"","x":680,"y":103,"wires":[]},{"id":"42903731.dcfab8","type":"ui_gauge","z":"b1437e49.a3cf8","name":"","group":"4c6faa96.3a1cb4","order":2,"width":0,"height":0,"gtype":"gage","title":"Flow","label":"m/sec","format":"{{value}}","min":0,"max":"40","colors":["#ff0000","#00db25","#b3ff00"],"seg1":"","seg2":"","x":685,"y":154,"wires":[]},{"id":"f0a90737.8621a8","type":"ui_gauge","z":"b1437e49.a3cf8","name":"","group":"777214d6.960b3c","order":1,"width":0,"height":0,"gtype":"gage","title":"PH","label":"PH","format":"{{value}}","min":0,"max":"14","colors":["#f60000","#00ad2d","#0005ff"],"seg1":"","seg2":"","x":672,"y":196,"wires":[]},{"id":"eeb0d9f4.5f2a98","type":"ui_text","z":"b1437e49.a3cf8","group":"777214d6.960b3c","order":3,"width":0,"height":0,"name":"","label":"Secounds of feeding","format":"","layout":"row-spread","x":235,"y":530,"wires":[]},{"id":"eba7b289.3502a","type":"ui_text","z":"b1437e49.a3cf8","group":"4c6faa96.3a1cb4","order":3,"width":0,"height":0,"name":"","label":"Hours between feeding","format":"","layout":"row-spread","x":243,"y":581,"wires":[]},{"id":"64321ff8.47c8e","type":"ui_dropdown","z":"b1437e49.a3cf8","name":"","label":"","tooltip":"","place":"Select option","group":"4c6faa96.3a1cb4","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"8","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"}],"payload":"","topic":"","x":144,"y":664,"wires":[["d70cf407.95b788"]]},{"id":"d70cf407.95b788","type":"function","z":"b1437e49.a3cf8","name":"feeding","func":"var time = context.get('count') || 3600000;\nvar start= context.get('count2') || 0;\nstart += 1;\nif(start == 1)\n{\n    time = 3600000*parseInt(msg.payload);\n    context.set('count',3600000*parseInt(msg.payload));\n}\ncontext.set('count2',start);\nif(msg.payload[0] == '0' || start == 1)\n{\n    msg.delay = time;\n    msg.payload = \"01f1\";\n    return msg;\n}\nelse\n{\n    context.set('count',3600000*parseInt(msg.payload));\n}\n","outputs":1,"noerr":0,"x":306,"y":698,"wires":[["df70734c.fe351"]]},{"id":"b1aacd5d.cdd6d","type":"delay","z":"b1437e49.a3cf8","name":"feedingTime","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":754,"y":621,"wires":[["d70cf407.95b788","30c2f10c.b5083e"]]},{"id":"df70734c.fe351","type":"delay","z":"b1437e49.a3cf8","name":"TimeBetweenFeeding","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":501,"y":740,"wires":[["4cc6146d.f0f28c","30c2f10c.b5083e"]]},{"id":"4cc6146d.f0f28c","type":"function","z":"b1437e49.a3cf8","name":"feeding","func":"var time = context.get('count') || 3000;\nif(msg.payload[0] == '0')\n{\n    msg.delay = time;\n    msg.payload = \"01f0\";\n    return msg;\n}\nelse\n{\n    context.set('count',1000*parseInt(msg.payload));\n}","outputs":1,"noerr":0,"x":597,"y":620,"wires":[["b1aacd5d.cdd6d"]]},{"id":"342e4926.4b4d56","type":"ui_dropdown","z":"b1437e49.a3cf8","name":"","label":"","tooltip":"","place":"Select option","group":"777214d6.960b3c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"8","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"}],"payload":"","topic":"","x":417,"y":624,"wires":[["4cc6146d.f0f28c"]]},{"id":"bbb44e95.404d6","type":"mqtt in","z":"fe33d569.840058","name":"","topic":"fraESP","qos":"2","broker":"a2dc5ad0.864458","x":108,"y":162,"wires":[["64c2de5c.c5db7","2faea1d.847fe5e"]]},{"id":"38d15f30.ebac4","type":"mqtt out","z":"fe33d569.840058","name":"","topic":"tilESP","qos":"","retain":"","broker":"a2dc5ad0.864458","x":1196,"y":548,"wires":[]},{"id":"64c2de5c.c5db7","type":"function","z":"fe33d569.840058","name":"SPLITTER","func":"var output = msg.payload.split(\" \");\nvar id = output[0][3].toString() + output[0][4].toString();\nif(id == \"02\")\n{\nvar temp = output[1].replace('Temp','');\nvar flow = output[2].replace('Flow','');\nvar ph = output[3].replace('PH','');\nvar salt = output[4].replace('Salt','');\nvar turb = output[5].replace('Turb','');\nvar msg1 = {payload:temp};\nvar msg2 = {payload:flow};\nvar msg3 = {payload:ph};\nvar msg4 = {payload:salt};\nvar msg5 = {payload:turb};\nreturn [msg1, msg2, msg3, msg4, msg5];\n}\n","outputs":5,"noerr":0,"x":269,"y":161,"wires":[["7b7d0767.06e7b8"],["9b286556.457308"],["3fce7350.f92ecc"],["a79522b.0e2e6e"],["ced2f148.ea9a7"]]},{"id":"7b7d0767.06e7b8","type":"function","z":"fe33d569.840058","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":482,"y":100,"wires":[["6750c966.cb6d08"]]},{"id":"3fce7350.f92ecc","type":"function","z":"fe33d569.840058","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":482,"y":184,"wires":[["fa99aca1.2e7bb"]]},{"id":"9b286556.457308","type":"function","z":"fe33d569.840058","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":482,"y":144,"wires":[["95212bb5.5d80c8"]]},{"id":"a79522b.0e2e6e","type":"function","z":"fe33d569.840058","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":479,"y":219,"wires":[[]]},{"id":"ced2f148.ea9a7","type":"function","z":"fe33d569.840058","name":"Ant. des","func":"var pres = Math.pow(10, 2);\nvar input = msg.payload;\nreturn {payload:Math.ceil(input * pres)/pres};\n","outputs":1,"noerr":0,"x":481,"y":263,"wires":[["5069cda4.3a0234"]]},{"id":"829f7b8c.1db4e8","type":"function","z":"fe33d569.840058","name":"ESP nr og motor","func":"var output = \"02m\";\nif (msg.payload==true)\n    output += 1;\nelse\n    output += 0;\nreturn {payload:output};","outputs":1,"noerr":0,"x":417,"y":469,"wires":[["38d15f30.ebac4","3aa240f9.d1aac"]]},{"id":"3aa240f9.d1aac","type":"debug","z":"fe33d569.840058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":706,"y":555,"wires":[]},{"id":"aa5bf71e.0effe8","type":"inject","z":"fe33d569.840058","name":"","topic":"ESP02 Temp29.500000 Flow15.000000 PH14.090000 Salt999.399902 Turb888.338501","payload":"ESP02 Temp29.500000 Flow15.000000 PH14.090000 Salt999.399902 Turb888.338501","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":88,"wires":[["64c2de5c.c5db7"]]},{"id":"2faea1d.847fe5e","type":"function","z":"fe33d569.840058","name":"Til Database","func":"var output = msg.payload.split(\" \");\nvar temp = output[1].replace('Temp','');\nvar flow = output[2].replace('Flow','');\nvar ph = output[3].replace('PH','');\nvar salt = output[4].replace('Salt','');\nvar turb = output[5].replace('Turb','');\nvar motor = output[6].replace('Motor','');\nvar feeding = output[7].replace('Feeding','');\n\nvar output = \"INSERT INTO ESP02TBL(\";\noutput += \"datetime, \";\noutput += \"temperature, \";\noutput += \"flow, \";\noutput += \"ph, \";\noutput += \"turbidity, \";\noutput += \"salt, \";\noutput += \"motor, \";\noutput += \"feeding)\";\noutput += \" VALUES (\";\nvar d = new Date();\nvar datestring = \"'\" + d.getFullYear() + \"-\" + (d.getMonth()+1) + \"-\" + d.getDate() + \" \" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"'\" ;\noutput += datestring + \", \";\noutput += \"'\"+ temp + \"' , '\"+ flow +\"', '\"+ ph +\"', '\"+ salt +\"', '\"+turb+\"', '\"+motor+\"', '\"+feeding+\"')\";\nmsg.payload = \"verdier\"\nmsg.topic = output;\nreturn msg;\n","outputs":1,"noerr":0,"x":285,"y":370,"wires":[["876a856a.268858"]]},{"id":"8f527195.1a1fe","type":"sqlite","z":"fe33d569.840058","mydb":"f5cc65c4.61b838","sqlquery":"msg.topic","sql":"","name":"cionaMonitorDB","x":779,"y":364,"wires":[["e68bb2d7.4fe93"]]},{"id":"e68bb2d7.4fe93","type":"debug","z":"fe33d569.840058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":993,"y":364,"wires":[]},{"id":"876a856a.268858","type":"delay","z":"fe33d569.840058","name":"1 minute per database storage","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":529,"y":371,"wires":[["8f527195.1a1fe"]]},{"id":"32ebec33.7e1db4","type":"ui_switch","z":"fe33d569.840058","name":"","label":"Motor","tooltip":"","group":"324f5734.1caf08","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":175,"y":465,"wires":[["829f7b8c.1db4e8","3aa240f9.d1aac"]]},{"id":"6750c966.cb6d08","type":"ui_gauge","z":"fe33d569.840058","name":"","group":"324f5734.1caf08","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":0,"max":"35","colors":["#6987ff","#009c29","#ff0000"],"seg1":"","seg2":"","x":680,"y":103,"wires":[]},{"id":"95212bb5.5d80c8","type":"ui_gauge","z":"fe33d569.840058","name":"","group":"324f5734.1caf08","order":2,"width":0,"height":0,"gtype":"gage","title":"Flow","label":"m/sec","format":"{{value}}","min":0,"max":"40","colors":["#ff0000","#00db25","#b3ff00"],"seg1":"","seg2":"","x":685,"y":154,"wires":[]},{"id":"fa99aca1.2e7bb","type":"ui_gauge","z":"fe33d569.840058","name":"","group":"8cc2b7ce.d20228","order":1,"width":0,"height":0,"gtype":"gage","title":"PH","label":"PH","format":"{{value}}","min":0,"max":"14","colors":["#f60000","#00ad2d","#0005ff"],"seg1":"","seg2":"","x":672,"y":196,"wires":[]},{"id":"5069cda4.3a0234","type":"ui_gauge","z":"fe33d569.840058","name":"","group":"8cc2b7ce.d20228","order":2,"width":0,"height":0,"gtype":"gage","title":"Turbiditet","label":"units","format":"{{value}}","min":0,"max":"20","colors":["#b79fff","#17e600","#a80000"],"seg1":"","seg2":"","x":678,"y":241,"wires":[]},{"id":"10f99f57.48b021","type":"ui_text","z":"fe33d569.840058","group":"8cc2b7ce.d20228","order":3,"width":0,"height":0,"name":"","label":"Secounds of feeding","format":"","layout":"row-spread","x":235,"y":530,"wires":[]},{"id":"3044b55f.2dfeaa","type":"ui_text","z":"fe33d569.840058","group":"324f5734.1caf08","order":3,"width":0,"height":0,"name":"","label":"Hours between feeding","format":"","layout":"row-spread","x":243,"y":581,"wires":[]},{"id":"a59aaf30.15bf2","type":"ui_dropdown","z":"fe33d569.840058","name":"","label":"","tooltip":"","place":"Select option","group":"324f5734.1caf08","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"8","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"}],"payload":"","topic":"","x":144,"y":664,"wires":[["1cea554f.e4bdfb"]]},{"id":"1cea554f.e4bdfb","type":"function","z":"fe33d569.840058","name":"feeding","func":"var time = context.get('count') || 3600000;\nvar start= context.get('count2') || 0;\nstart += 1;\nif(start == 1)\n{\n    time = 3600000*parseInt(msg.payload);\n    context.set('count',3600000*parseInt(msg.payload));\n}\ncontext.set('count2',start);\nif(msg.payload[0] == '0' || start == 1)\n{\n    msg.delay = time;\n    msg.payload = \"02f1\";\n    return msg;\n}\nelse\n{\n    context.set('count',3600000*parseInt(msg.payload));\n}\n","outputs":1,"noerr":0,"x":306,"y":698,"wires":[["b0ce215a.6fef6"]]},{"id":"82cf19eb.897348","type":"delay","z":"fe33d569.840058","name":"feedingTime","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":754,"y":621,"wires":[["1cea554f.e4bdfb","38d15f30.ebac4"]]},{"id":"b0ce215a.6fef6","type":"delay","z":"fe33d569.840058","name":"TimeBetweenFeeding","pauseType":"delayv","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":501,"y":740,"wires":[["3b78f524.37315a","38d15f30.ebac4"]]},{"id":"3b78f524.37315a","type":"function","z":"fe33d569.840058","name":"feeding","func":"var time = context.get('count') || 3000;\nif(msg.payload[0] == '0')\n{\n    msg.delay = time;\n    msg.payload = \"02f0\";\n    return msg;\n}\nelse\n{\n    context.set('count',1000*parseInt(msg.payload));\n}","outputs":1,"noerr":0,"x":597,"y":620,"wires":[["82cf19eb.897348"]]},{"id":"b40aaf9b.c14dd","type":"ui_dropdown","z":"fe33d569.840058","name":"","label":"","tooltip":"","place":"Select option","group":"8cc2b7ce.d20228","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":1,"type":"num"},{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"8","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"}],"payload":"","topic":"","x":417,"y":624,"wires":[["3b78f524.37315a"]]},{"id":"d7bf4757.ce4238","type":"sqlite","z":"200bb906.f929e6","mydb":"f5cc65c4.61b838","sqlquery":"msg.topic","sql":"","name":"cionaMonitorDB","x":693,"y":214,"wires":[["d85c86c1.d7c278","cbea76d5.b51608","45cd5e4e.46e77","497af45f.2e945c","d29be76c.138088","258fd4ae.7234fc","97f5f6cf.0563c8","aa18172f.fc8478","2f77d3cf.a3877c"]]},{"id":"b3a35a33.589b18","type":"inject","z":"200bb906.f929e6","name":"trykk","topic":"test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":82,"wires":[["1c14fe84.85a911"]]},{"id":"1c14fe84.85a911","type":"function","z":"200bb906.f929e6","name":"Creat table","func":"var output = \"CREATE TABLE ESP\";\nvar output1 = \"TBL(datetime DATETIME PRIMARY KEY, \";\noutput1 += \"temperature NUMERIC, \";\noutput1 += \"flow NUMERIC, \";\noutput1 += \"ph NUMERIC, \";\noutput1 += \"turbidity NUMERIC, \";\noutput1 += \"salt NUMERIC, \";\noutput1 += \"motor BIT, \";\noutput1 += \"feeding BIT)\";\nmsg.payload = \"CreatTBL\";\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"x":286,"y":80,"wires":[["d7bf4757.ce4238"]]},{"id":"c3ec8242.d3197","type":"function","z":"200bb906.f929e6","name":"set inn verdier","func":"var output = \"INSERT INTO ESP\";\nvar output1 = \"TBL(datetime, \";\noutput1 += \"temperature, \";\noutput1 += \"flow, \";\noutput1 += \"ph, \";\noutput1 += \"turbidity, \";\noutput1 += \"salt, \";\noutput1 += \"motor, \";\noutput1 += \"feeding)\";\noutput1 += \" VALUES (\";\nvar d = new Date();\nvar datestring = \"'\" + d.getFullYear() + \"-\" + (d.getMonth()+1) + \"-\" + d.getDate() + \" \" + (\"0\" + d.getHours()).slice(-2) + \":\" + (\"0\" + d.getMinutes()).slice(-2) + \":\" + (\"0\" + d.getSeconds()).slice(-2) + \"'\" ;\noutput1 += datestring + \", \";\noutput1 += \"'25', '10', '8', '1000', '2000', '1', '1')\";\nmsg.payload = \"verdier\";\n\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"x":277,"y":251,"wires":[["d7bf4757.ce4238"]]},{"id":"8a1c8568.60e868","type":"debug","z":"200bb906.f929e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1096,"y":188,"wires":[]},{"id":"e27abdb6.6eeae","type":"inject","z":"200bb906.f929e6","name":"press","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":259,"wires":[["c3ec8242.d3197"]]},{"id":"633f6806.1ad898","type":"inject","z":"200bb906.f929e6","name":"get table","topic":"SELECT * FROM ESP01TBL","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":36,"wires":[["d7bf4757.ce4238"]]},{"id":"cbea76d5.b51608","type":"debug","z":"200bb906.f929e6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":945,"y":104,"wires":[]},{"id":"710133a.f5c8acc","type":"inject","z":"200bb906.f929e6","name":"delete table","topic":"DROP TABLE ESP01TBL","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":669,"y":34,"wires":[["d7bf4757.ce4238"]]},{"id":"6050e44e.f1700c","type":"inject","z":"200bb906.f929e6","name":"emty table","topic":"DELETE FROM ESP01TBL","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":390,"wires":[["95c78d63.6a315"]]},{"id":"11e2473f.da0ec9","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":443,"wires":[["f5b18bf.e0f2c78"]]},{"id":"d85c86c1.d7c278","type":"function","z":"200bb906.f929e6","name":"min Temp","func":"if(typeof msg.payload[0][\"MIN(temperature)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MIN(temperature)\"])\n{\nvar temp = msg.payload[0][\"MIN(temperature)\"];\nvar temphold=context.get('count') || 100;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold > temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',100);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":922,"y":342,"wires":[["201ccdbe.ebed52"]]},{"id":"f90007.6ea94ff8","type":"ui_gauge","z":"b1437e49.a3cf8","name":"","group":"777214d6.960b3c","order":2,"width":0,"height":0,"gtype":"gage","title":"Turbiditet","label":"unit","format":"{{value}}","min":0,"max":"20","colors":["#6987ff","#009c29","#ff0000"],"seg1":"","seg2":"","x":678,"y":289,"wires":[]},{"id":"22caa25f.41966e","type":"ui_switch","z":"200bb906.f929e6","name":"","label":"All motors","tooltip":"","group":"79f93bbb.6f3e54","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":609,"y":827,"wires":[["77f2fd5a.4c0af4"]]},{"id":"b9dcb60.284e748","type":"mqtt out","z":"200bb906.f929e6","name":"","topic":"tilESP","qos":"","retain":"","broker":"a2dc5ad0.864458","x":1026,"y":872,"wires":[]},{"id":"66ea6b04.15bd14","type":"ui_switch","z":"200bb906.f929e6","name":"","label":"All feeding","tooltip":"","group":"79f93bbb.6f3e54","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":605,"y":929,"wires":[["3fd00c0c.0f5494"]]},{"id":"3fd00c0c.0f5494","type":"function","z":"200bb906.f929e6","name":"send 16 on/off","func":"var on = \"0\";\nif(msg.payload == true)\n{\n    on = \"1\";\n}\n\nfor(var num = 1; num <17;num++)\n{\n    msg.payload = String(\"0\" + num + \"f\" + on).slice(-4)\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":799,"y":928,"wires":[["b9dcb60.284e748"]]},{"id":"c48c962a.423e48","type":"debug","z":"200bb906.f929e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1101,"y":931,"wires":[]},{"id":"d9a05572.e28758","type":"ui_gauge","z":"b1437e49.a3cf8","name":"","group":"77eed045.1cc2","order":1,"width":0,"height":0,"gtype":"gage","title":"Salt","label":"units","format":"{{value}}","min":0,"max":"50000","colors":["#ff83ef","#17e600","#ca3838"],"seg1":"","seg2":"","x":668,"y":241,"wires":[]},{"id":"77f2fd5a.4c0af4","type":"function","z":"200bb906.f929e6","name":"Send 16 on/off","func":"var on = \"0\";\nif(msg.payload == true)\n{\n    on = \"1\";\n}\n\nfor(var num = 1; num <17;num++)\n{\n    msg.payload = String(\"0\" + num + \"m\" + on).slice(-4)\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"x":793,"y":834,"wires":[["b9dcb60.284e748","c48c962a.423e48"]]},{"id":"f5b18bf.e0f2c78","type":"function","z":"200bb906.f929e6","name":"Min from temperature","func":"var output = \"SELECT MIN(temperature)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":326,"y":450,"wires":[["d7bf4757.ce4238"]]},{"id":"95c78d63.6a315","type":"function","z":"200bb906.f929e6","name":"Empty all tables","func":"var output = \"DELETE FROM ESP\";\nvar output1 = \"TBL\";\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\nreturn;","outputs":1,"noerr":0,"x":316,"y":387,"wires":[["d7bf4757.ce4238"]]},{"id":"5c0352ae.a7b84c","type":"function","z":"200bb906.f929e6","name":"Max from temperature","func":"var output = \"SELECT MAX(temperature)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":327,"y":503,"wires":[["d7bf4757.ce4238"]]},{"id":"b39bfa18.9d5578","type":"function","z":"200bb906.f929e6","name":"Max from flow","func":"var output = \"SELECT MAX(flow)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":309,"y":559,"wires":[["d7bf4757.ce4238"]]},{"id":"ab82ffe7.bd762","type":"function","z":"200bb906.f929e6","name":"Min from flow","func":"var output = \"SELECT MIN(flow)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":314,"y":616,"wires":[["d7bf4757.ce4238"]]},{"id":"351d5eea.a485a2","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":508,"wires":[["5c0352ae.a7b84c"]]},{"id":"ed30600.35569a","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105,"y":562,"wires":[["b39bfa18.9d5578"]]},{"id":"17ea557b.7dee5b","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":616,"wires":[["ab82ffe7.bd762"]]},{"id":"e66f149c.337808","type":"function","z":"200bb906.f929e6","name":"Min from ph","func":"var output = \"SELECT MIN(ph)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":308,"y":676,"wires":[["d7bf4757.ce4238"]]},{"id":"23f4088.0a038f8","type":"function","z":"200bb906.f929e6","name":"Max from ph","func":"var output = \"SELECT MAX(ph)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":309,"y":729,"wires":[["d7bf4757.ce4238"]]},{"id":"96dbf501.b00138","type":"function","z":"200bb906.f929e6","name":"Max from turbidity","func":"var output = \"SELECT MAX(turbidity)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":331,"y":785,"wires":[["d7bf4757.ce4238"]]},{"id":"a2f63a24.0f48c8","type":"function","z":"200bb906.f929e6","name":"Min from turbidity","func":"var output = \"SELECT MIN(turbidity)\";\noutput += \" FROM ESP\";\nvar output1 = \"TBL WHERE CAST(datetime AS DATE) = CAST(CURRENT_DATE AS DATE) \"\nmsg.payload = \"verdier\"\nmsg.topic = output;\n\nfor(var num = 1; num <17;num++)\n{\n    var hold = String(\"0\" + num).slice(-2);\n    msg.topic = String(output + hold + output1);\n    node.send(msg);\n}\n\nreturn;","outputs":1,"noerr":0,"x":336,"y":842,"wires":[["d7bf4757.ce4238"]]},{"id":"eaf80a66.527b28","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111,"y":679,"wires":[["e66f149c.337808"]]},{"id":"4b5c552d.5c8a3c","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":107,"y":733,"wires":[["23f4088.0a038f8"]]},{"id":"dcd6fb2d.eb17d8","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":787,"wires":[["96dbf501.b00138"]]},{"id":"779bda57.80b754","type":"inject","z":"200bb906.f929e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":119,"y":857,"wires":[["a2f63a24.0f48c8","96dbf501.b00138","23f4088.0a038f8","e66f149c.337808","ab82ffe7.bd762","b39bfa18.9d5578","5c0352ae.a7b84c","f5b18bf.e0f2c78"]]},{"id":"45cd5e4e.46e77","type":"function","z":"200bb906.f929e6","name":"Max Temp","func":"if(typeof msg.payload[0][\"MAX(temperature)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MAX(temperature)\"])\n{\nvar temp = msg.payload[0][\"MAX(temperature)\"];\nvar temphold=context.get('count') || 0;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold < temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',0);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":935,"y":406,"wires":[["5370ea2.04c0b14"]]},{"id":"201ccdbe.ebed52","type":"ui_text","z":"200bb906.f929e6","group":"77eed045.1cc2","order":4,"width":0,"height":0,"name":"","label":"Min temp","format":"{{msg.payload}}","layout":"row-spread","x":1111,"y":344,"wires":[]},{"id":"5370ea2.04c0b14","type":"ui_text","z":"200bb906.f929e6","group":"79f93bbb.6f3e54","order":7,"width":0,"height":0,"name":"","label":"Max temp","format":"{{msg.payload}}","layout":"row-spread","x":1115,"y":398,"wires":[]},{"id":"d29be76c.138088","type":"function","z":"200bb906.f929e6","name":"min flow","func":"if(typeof msg.payload[0][\"MIN(flow)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MIN(flow)\"])\n{\nvar temp = msg.payload[0][\"MIN(flow)\"];\nvar temphold=context.get('count') || 100;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold > temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',100);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":931,"y":452,"wires":[["13cb3b84.7cb474"]]},{"id":"258fd4ae.7234fc","type":"function","z":"200bb906.f929e6","name":"Max flow","func":"if(typeof msg.payload[0][\"MAX(flow)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MAX(flow)\"])\n{\nvar temp = msg.payload[0][\"MAX(flow)\"];\nvar temphold=context.get('count') || 0;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold < temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',0);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":934,"y":516,"wires":[["c32a5bb0.cee028"]]},{"id":"13cb3b84.7cb474","type":"ui_text","z":"200bb906.f929e6","group":"77eed045.1cc2","order":5,"width":0,"height":0,"name":"","label":"Min flow","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":454,"wires":[]},{"id":"c32a5bb0.cee028","type":"ui_text","z":"200bb906.f929e6","group":"79f93bbb.6f3e54","order":8,"width":0,"height":0,"name":"","label":"Max flow","format":"{{msg.payload}}","layout":"row-spread","x":1124,"y":508,"wires":[]},{"id":"497af45f.2e945c","type":"function","z":"200bb906.f929e6","name":"min PH","func":"if(typeof msg.payload[0][\"MIN(ph)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MIN(ph)\"])\n{\nvar temp = msg.payload[0][\"MIN(ph)\"];\nvar temphold=context.get('count') || 100;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold > temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',100);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":939,"y":574,"wires":[["1e5d78dc.ef1ad7"]]},{"id":"97f5f6cf.0563c8","type":"function","z":"200bb906.f929e6","name":"Max PH  ","func":"if(typeof msg.payload[0][\"MAX(ph)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MAX(ph)\"])\n{\nvar temp = msg.payload[0][\"MAX(ph)\"];\nvar temphold=context.get('count') || 0;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold < temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',0);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":942,"y":638,"wires":[["71e87826.1e0cd8"]]},{"id":"1e5d78dc.ef1ad7","type":"ui_text","z":"200bb906.f929e6","group":"77eed045.1cc2","order":6,"width":0,"height":0,"name":"","label":"Min PH","format":"{{msg.payload}}","layout":"row-spread","x":1128,"y":576,"wires":[]},{"id":"71e87826.1e0cd8","type":"ui_text","z":"200bb906.f929e6","group":"79f93bbb.6f3e54","order":9,"width":0,"height":0,"name":"","label":"Max PH","format":"{{msg.payload}}","layout":"row-spread","x":1132,"y":630,"wires":[]},{"id":"aa18172f.fc8478","type":"function","z":"200bb906.f929e6","name":"min turbidity","func":"if(typeof msg.payload[0][\"MIN(turbidity)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MIN(turbidity)\"])\n{\nvar temp = msg.payload[0][\"MIN(turbidity)\"];\nvar temphold=context.get('count') || 10000;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold > temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',100);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":960,"y":697,"wires":[["ec4bdf33.7d83f"]]},{"id":"2f77d3cf.a3877c","type":"function","z":"200bb906.f929e6","name":"Max turbidity","func":"if(typeof msg.payload[0][\"MAX(turbidity)\"] == 'undefined')\n{\n    return;\n}\nif(msg.payload[0][\"MAX(turbidity)\"])\n{\nvar temp = msg.payload[0][\"MAX(turbidity)\"];\nvar temphold=context.get('count') || 0;\nvar num = context.get('count2') || 0;\nnum += 1;\ncontext.set('count2',num);\nif(temphold < temp);\n{\n    context.set('count',temp);\n}\nif(num == 16)\n{\n    context.set('count',0);\n    context.set('count2',0);\n    msg.payload = temphold;\n    return msg;\n}\n}","outputs":1,"noerr":0,"x":961,"y":748,"wires":[["aad3941d.333368"]]},{"id":"ec4bdf33.7d83f","type":"ui_text","z":"200bb906.f929e6","group":"77eed045.1cc2","order":7,"width":0,"height":0,"name":"","label":"Min turbidity","format":"{{msg.payload}}","layout":"row-spread","x":1147,"y":686,"wires":[]},{"id":"aad3941d.333368","type":"ui_text","z":"200bb906.f929e6","group":"79f93bbb.6f3e54","order":10,"width":0,"height":0,"name":"","label":"Max turbidity","format":"{{msg.payload}}","layout":"row-spread","x":1151,"y":740,"wires":[]},{"id":"9ae43b3a.5736d8","type":"ui_switch","z":"200bb906.f929e6","name":"","label":"Lights lower","tooltip":"","group":"79f93bbb.6f3e54","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":609,"y":984,"wires":[["918ee791.39be58"]]},{"id":"918ee791.39be58","type":"function","z":"200bb906.f929e6","name":"Lights lower","func":"var on = \"0\";\nif(msg.payload == true)\n{\n    on = \"1\";\n}\n\nmsg.payload = String(\"0\" + \"1\" + \"l\" + on).slice(-4)\nreturn msg;\n","outputs":1,"noerr":0,"x":782,"y":982,"wires":[["b9dcb60.284e748","c48c962a.423e48"]]},{"id":"dfa192c3.a0e0b","type":"ui_switch","z":"200bb906.f929e6","name":"","label":"Lights upper","tooltip":"","group":"79f93bbb.6f3e54","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":608,"y":1032,"wires":[["c71c6012.2c6c7"]]},{"id":"c71c6012.2c6c7","type":"function","z":"200bb906.f929e6","name":"Lights upper","func":"var on = \"0\";\nif(msg.payload == true)\n{\n    on = \"1\";\n}\n\nmsg.payload = String(\"0\" + \"2\" + \"l\" + on).slice(-4)\nreturn msg;\n","outputs":1,"noerr":0,"x":781,"y":1030,"wires":[["b9dcb60.284e748","c48c962a.423e48"]]},{"id":"a3dfc4af.80cd88","type":"ui_text","z":"200bb906.f929e6","group":"79f93bbb.6f3e54","order":6,"width":0,"height":0,"name":"","label":"<font size = 8>Last day","format":"{{msg.payload}}","layout":"row-spread","x":657.0000610351562,"y":758.9999732971191,"wires":[]},{"id":"5e1f3b03.5f9804","type":"ui_text","z":"200bb906.f929e6","group":"77eed045.1cc2","order":3,"width":0,"height":0,"name":"","label":"<font size = 8>Last day","format":"{{msg.payload}}","layout":"row-spread","x":694.0000381469727,"y":694.0000019073486,"wires":[]},{"id":"575a5aa7.d87b14","type":"debug","z":"b1437e49.a3cf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":258,"y":265,"wires":[]}]
